@import '../../config.scss';

.cart {
  display: flex;
  //flex-wrap: wrap;
  //justify-content: space-between;
}

.cart__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  
  margin: auto;
  margin: 20px 5px;
  
}

.cart__card {
  display: flex;
  flex-direction: row;
}

.cart__image {
  width: 25%;
}

.cart__img {
  object-fit: cover;
  width: 100%;
}

.cart__info {
  display: flex;
  flex-direction: column;
  //justify-content: space-between;

  padding: 0 2rem;
  width: 50%;
}

.cart__title {
  font-size: 1.5rem;
  font-weight: 700;

  text-decoration: none;
  color: #000;
}

.cart__price {
  
}

.cart__form {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart__form__top {
  display: flex;
  flex-direction: row;

  margin: 1em 0;

  span {
    display: flex;
    align-items: center;
  }
}

.cart__form__input {
  margin: 0 1rem;
  width: 5em;
}

.cart__form__middle {
  font-weight: 700;

  margin: 1em 0;
}

.cart__form__bottom {
  margin: 1em 0;
}

@media (max-width:1000px) {
  .cart__form__top {
    flex-direction: row;
    flex-wrap: wrap;

    button {
      margin-top: 1em;
    }

  }
}

@media (max-width:650px) {
  .cart__item {
    flex-direction: column;
  }

  .cart__image {
    width: 0%;
  }

  .cart__info {
    width: 100%;
    padding-left: 0;
  }

  .cart__form {
    width: 100%;

    input {
      margin: 0 2em 0 1em;
    }

    button {
      margin-top: 0;
    }
  }
}