@import '../../config.scss';

.details {
    display: flex;
    max-width: 100%;
    margin: 2rem 1rem;
}

.details__image{
    width: 50%;
    height: 400px;
}

.details__img {
    object-fit: cover;
    max-width: 97%;
    width: 100%;
    height: 100%;
}

.details__info {
    max-width: 50%;
}

.details__category {
    margin: 1rem 0 0 0;
}

.details__price {
    margin: 0 0 1rem 0;
}

.details__description {
    margin: 1rem 0;
}

.details__input {
    height: 2rem;
    width: 3rem;
    margin: 0 0.4rem;
}

.more {
    max-width: 100%;
    margin: 3rem 1rem;
}

.more__products {
    display: flex;
    flex-wrap: wrap;
}

.details__cartMessage {
    margin-left: 1rem;
}