@import '../../config.scss';

.categories {
    max-width: $max-width;
    margin: 2rem 1rem 2rem 0rem;
}

.categories__title {
    margin: 1rem 0;
}

.categories__wrapper{
    display: flex; 
    flex-wrap: wrap; 
    border: black; 
    justify-content: space-between; 
}
.categories__item h1 {
    margin: 20px 10px; 
    margin: auto; 
    padding: 30px;  
    font-weight: 400; 
    color: #333;
}

.categories__item a {
    list-style: none; 

}
.categories__item {
    display: flex; 
    width: 32%;
    border: 1px solid #000;
    border-color: #333; 
    margin-top: 10px; 


    transition: color 250ms ease-in-out;
    transition: background 250ms ease-in-out;
    
}

.categories__item:hover {
    background: #333;
    h1 {

        color: #fff;
    }

    
}