@import '../../config.scss';

.categories {
    max-width: $max-width;
    margin: 2rem 1rem 2rem 1rem;
}

.categories__title {
    margin: 1rem 0;
}

.categories__wrapper{
    display: flex; 
    flex-wrap: wrap; 
    border: $color-font; 
    justify-content: space-between; 
}
.categories__item h1 {
    margin: 20px 10px; 
    margin: auto; 
    padding: 30px;  
    font-weight: 400; 
    color: $color-font;
}

.categories__item a {
    list-style: none; 

}
.categories__item {
    display: flex; 
    width: 32%;
    border: 1px solid $color-font;
    border-color: $color-font; 
    margin-top: 10px; 


    transition: color 250ms ease-in-out;
    transition: background 250ms ease-in-out;
    
}

.categories__item:hover {
    background: $color-font;
    h1 {

        color: $color-background;
    }   
}

@media (max-width:650px){
    .categories__item{
        width: 100%;
        height: 5rem;
    }

    .categories__item h1{
        padding: 0;
    }
}