@import '../../config.scss';

.cart {
}

.cart__item {
  display: flex;
}

.cart__image {
}

.cart__img {
}

.cart__info {
}

.cart__title {
}

.cart__text {
}

.cart__form {
  display: flex;
  flex-direction: column;
}

.cart__form__top {
  display: flex;
  flex-direction: row;
}

.cart__form__middle {
  font-weight: 700;
}

.cart__total {
  font-weight: 700;
}

.shipping {
  margin: 2rem; 
}

.shipping__header {
  margin-left: 1rem;
}

.shipping p {
  padding-top: 2rem; 
  padding-left: 1rem; ;
}

.shipping__button {
  margin-top: 1rem; 
  padding-left: 1rem; 
}