@import '../../config.scss';

.cart {
}

.cart__shipping {
    margin: 2rem; 
}

.cart__shipping__header {
  margin-left: 1rem;
}

.cart__shipping p {
    padding-top: 2rem; 
    padding-left: 1rem; ;
}

.cart__shipping__button {
  margin-top: 1rem; 
  padding-left: 1rem; 
}