@import '../../config.scss';

.register__wrapper {
    margin: 2rem; 
}
.register__button {
    margin: 1rem 1rem 1rem 0rem; 
}

.register__linkToLogin {
    color: #000;
    text-decoration: none;
    margin: 2rem 0rem;
}
.register__success {
    margin: 1rem;
}