@import '../../config.scss';

.register__wrapper {
    margin: 2rem; 
}
.register__button {
    margin: 1rem 0; 
    padding-left: 1rem; 
}

.register__wrapper h1 {
    margin-left: 1rem;
}

.register__linkToLogin {
    color: #000;
    text-decoration: none;
    margin: 2rem 1rem;
}
.register__success {
    margin: 1rem;
}