@import '../../config.scss';

.register__wrapper {
    margin: 2rem; 
}
.register__button {
    margin-top: 1rem; 
}
.register__wrapper p {
    padding-top: 2rem; 
}

.register__wrapper h1 {
    margin-left: 1rem;
}

