$max-width: 1400px;
$gutter: 30px;

$font-main: 'Open Sans', helvetica, arial, sans-serif;
$font-heading: 'Noto Serif', georgia, serif;

$color-font: #222;
$color-background: #eee;
$color-gray: #ccc;
$color-invalid: #4e1d04;

$transition: 250ms ease-in-out;
