@import '../../config.scss';

.login__wrapper {
    margin: 2rem; 
}
.login__button {
    margin: 1rem 0; 
}

.login__success {
    margin: 1rem;
}

.login__linkToRegister {
    color: #000;
    text-decoration: none;
    margin: 2rem 0rem;
}

.errors__message {
    margin-top: 0.5rem;
    margin-left: 1rem;
}